{% extends './base.html' %}
{% block accessMenu %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'admin' %}">admin</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'categories' %}">categories</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'tasks' %}">tasks</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'add_task' %}">add a new task</a>
</li>
{% endblock accessMenu %}
{% block content %}
<h3>index page</h3>
{% endblock content %}